In [1]:
import pandas
import databento

In [45]:
pandas.set_option('display.max_rows', 50)
pandas.set_option('display.min_rows', 20)

In [3]:
def get_path(ticker, filename=None):
    ticker = 'nvda'
    #filename = 'xnas-itch-20240105.mbo.dbn.zst'
    return f'/databento/data/mbo/{ticker}/XNAS-20240622-WPPRESG4BH/{filename}'

In [4]:
full_path = get_path('nvda', filename='xnas-itch-20240105.mbo.dbn.zst')
full_path

'/databento/data/mbo/nvda/XNAS-20240622-WPPRESG4BH/xnas-itch-20240105.mbo.dbn.zst'

In [5]:
stored_data = databento.DBNStore.from_file(full_path)
df: pandas.DataFrame = stored_data.to_df().reset_index()

In [6]:
df

,ts_recv,ts_event,rtype,publisher_id,instrument_id,action,side,price,size,channel_id,order_id,flags,ts_in_delta,sequence,symbol
0,2024-01-05 09:00:00.034832298+00:00,2024-01-05 09:00:00.034665350+00:00,160,2,11667,A,B,225.11,41,0,2803,130,166948,274050,NVDA
1,2024-01-05 09:00:00.207384375+00:00,2024-01-05 09:00:00.207209487+00:00,160,2,11667,A,B,478.98,100,0,8955,130,174888,275072,NVDA
2,2024-01-05 09:00:00.214426993+00:00,2024-01-05 09:00:00.214260186+00:00,160,2,11667,A,A,480.78,100,0,12639,130,166807,275517,NVDA
3,2024-01-05 09:00:00.217115284+00:00,2024-01-05 09:00:00.216948664+00:00,160,2,11667,C,A,480.78,100,0,12639,130,166620,275795,NVDA
4,2024-01-05 09:00:00.220495504+00:00,2024-01-05 09:00:00.220328153+00:00,160,2,11667,A,A,483.30,100,0,15775,130,167351,276222,NVDA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4076172,2024-01-05 23:59:49.571847285+00:00,2024-01-05 23:59:49.571680943+00:00,160,2,11667,C,A,491.76,10,0,844161431,130,166342,692007204,NVDA
4076173,2024-01-05 23:59:49.577086028+00:00,2024-01-05 23:59:49.576919786+00:00,160,2,11667,A,A,491.75,10,0,844164463,130,166242,692007207,NVDA
4076174,2024-01-05 23:59:55.956086421+00:00,2024-01-05 23:59:55.955917975+00:00,160,2,11667,T,B,491.73,10,0,0,130,168446,692007319,NVDA
4076175,2024-01-05 23:59:55.956086421+00:00,2024-01-05 23:59:55.955917975+00:00,160,2,11667,F,A,491.73,10,0,844164127,130,168446,692007319,NVDA
4076176,2024-01-05 23:59:55.956086421+00:00,2024-01-05 23:59:55.955917975+00:00,160,2,11667,C,A,491.73,10,0,844164127,130,168446,692007319,NVDA

In [33]:
df_aux = df.copy()
df_aux['trade_action_fill'] = df_aux['action'].shift(-1)
df_aux['trade_action_cancel'] = df_aux['action'].shift(-2)
df_aux['trade_order_id_fill'] = df_aux['order_id'].shift(-1)
df_aux['trade_order_id_cancel'] = df_aux['order_id'].shift(-2)
df_aux[['action', 'trade_action_fill', 'trade_action_cancel', 'side', 'price', 'size', 'order_id', 'trade_order_id_fill', 'trade_order_id_cancel']]

,action,trade_action_fill,trade_action_cancel,side,price,size,order_id,trade_order_id_fill,trade_order_id_cancel
0,A,A,A,B,225.11,41,2803,8955.0,12639.0
1,A,A,C,B,478.98,100,8955,12639.0,12639.0
2,A,C,A,A,480.78,100,12639,12639.0,15775.0
3,C,A,C,A,480.78,100,12639,15775.0,15775.0
4,A,C,A,A,483.30,100,15775,15775.0,17947.0
...,...,...,...,...,...,...,...,...,...
4076172,C,A,T,A,491.76,10,844161431,844164463.0,0.0
4076173,A,T,F,A,491.75,10,844164463,0.0,844164127.0
4076174,T,F,C,B,491.73,10,0,844164127.0,844164127.0
4076175,F,C,None,A,491.73,10,844164127,844164127.0,NaN
4076176,C,None,None,A,491.73,10,844164127,NaN,NaN

In [41]:
df_aux_trade_action_match_fill = df_aux['trade_action_fill'] == 'F'
df_aux['trade_action_match_fill'] = df_aux_trade_action_match_fill
#df_aux_trade_action_match_fill

In [36]:
df_aux_trade_action_match_cancel = df_aux['trade_action_cancel'] == 'C'
df_aux['trade_action_match_cancel'] = df_aux_trade_action_match_cancel
#df_aux_trade_action_match_cancel

In [37]:
df_aux_trade_action_match_both = df_aux_trade_action_match_fill & df_aux_trade_action_match_cancel
df_aux['trade_action_match_both'] = df_aux_trade_action_match_both
#df_aux_trade_action_match_both

In [38]:
df_aux_trade_action_match_both.value_counts()

False    4007949
True       68228
Name: count, dtype: int64

In [50]:
columns_to_select = ['action', 'trade_action_fill', 'trade_action_match_fill', 'trade_action_cancel',
                     'trade_action_match_cancel', 'trade_action_match_both', 'side', 'price', 'size',
                     'order_id', 'trade_order_id_fill', 'trade_order_id_cancel']

In [51]:
df_aux[columns_to_select]

,action,trade_action_fill,trade_action_match_fill,trade_action_cancel,trade_action_match_cancel,trade_action_match_both,side,price,size,order_id,trade_order_id_fill,trade_order_id_cancel
0,A,A,False,A,False,False,B,225.11,41,2803,8955.0,12639.0
1,A,A,False,C,True,False,B,478.98,100,8955,12639.0,12639.0
2,A,C,False,A,False,False,A,480.78,100,12639,12639.0,15775.0
3,C,A,False,C,True,False,A,480.78,100,12639,15775.0,15775.0
4,A,C,False,A,False,False,A,483.30,100,15775,15775.0,17947.0
5,C,A,False,C,True,False,A,483.30,100,15775,17947.0,17947.0
6,A,C,False,A,False,False,A,483.84,100,17947,17947.0,29299.0
7,C,A,False,C,True,False,A,483.84,100,17947,29299.0,29299.0
8,A,C,False,A,False,False,A,483.57,100,29299,29299.0,29595.0
9,C,A,False,C,True,False,A,483.57,100,29299,29595.0,29595.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4076167,C,T,False,F,False,False,A,491.75,1,844153559,0.0,844153559.0
4076168,T,F,True,C,True,True,B,491.75,2,0,844153559.0,844153559.0
4076169,F,C,False,A,False,False,A,491.75,2,844153559,844153559.0,844164127.0
4076170,C,A,False,C,True,False,A,491.75,2,844153559,844164127.0,844161431.0
4076171,A,C,False,A,False,False,A,491.73,20,844164127,844161431.0,844164463.0
4076172,C,A,False,T,False,False,A,491.76,10,844161431,844164463.0,0.0
4076173,A,T,False,F,False,False,A,491.75,10,844164463,0.0,844164127.0
4076174,T,F,True,C,True,True,B,491.73,10,0,844164127.0,844164127.0
4076175,F,C,False,None,False,False,A,491.73,10,844164127,844164127.0,NaN
4076176,C,None,False,None,False,False,A,491.73,10,844164127,NaN,NaN

In [49]:
df_aux_matched_rows = df_aux[df_aux['trade_action_match_both'] == True][columns_to_select]
df_aux_matched_rows[df_aux_matched_rows['trade_order_id_fill'] != df_aux_matched_rows['trade_order_id_cancel']] # important that this is empty

Empty DataFrame
Columns: [action, trade_action_fill, trade_action_match_fill, trade_action_cancel, trade_action_match_cancel, trade_action_match_both, side, price, size, order_id, trade_order_id_fill, trade_order_id_cancel]
Index: []

In [55]:
more_columns_to_select = columns_to_select + ['order_id_replace']
more_columns_to_select

['action',
 'trade_action_fill',
 'trade_action_match_fill',
 'trade_action_cancel',
 'trade_action_match_cancel',
 'trade_action_match_both',
 'side',
 'price',
 'size',
 'order_id',
 'trade_order_id_fill',
 'trade_order_id_cancel',
 'order_id_replace']

In [80]:
df_aux['order_id_replace'] = 0
df_aux.loc[df_aux['trade_action_match_both'] == True, 'order_id_replace'] = df_aux.loc[df_aux['trade_action_match_both'] == True, 'trade_order_id_fill'].astype(int)
#df_aux.dtypes

In [ ]:
df_aux

In [82]:
df_aux_trades = df_aux[df_aux['action'] == 'T']
df_aux_trades[more_columns_to_select].iloc[0:1000].to_csv('df_aux.csv')

In [84]:
df_aux['order_id'] = df_aux['order_id_replace']

In [ ]:
df_aux

In [88]:
original_columns = df.columns
original_columns

Index(['ts_recv', 'ts_event', 'rtype', 'publisher_id', 'instrument_id',
       'action', 'side', 'price', 'size', 'channel_id', 'order_id', 'flags',
       'ts_in_delta', 'sequence', 'symbol'],
      dtype='object')

In [89]:
df_trades = df_aux_trades[original_columns]
df_trades.to_csv('xnas-itch-20240105.mbo.dbn.trades.csv', index=False)

# Older Code (still important - extracts the Orders)

In [ ]:
df_aux[df_aux['trade_action_fill'] != 'F']

In [15]:
df_trades = df_aux[df_aux['action'] == 'T']
df_trades.to_csv('xnas-itch-20240105.mbo.dbn.trades.csv', index=False)

In [ ]:
from mbo_data_package import filter_df_remove_fill_cancel_pairs

df_orders = filter_df_remove_fill_cancel_pairs(df)

In [23]:
df_orders.to_csv('xnas-itch-20240105.mbo.dbn.orders.csv', index=False)

In [25]:
df_orders.iloc[208176-10:208237+10]

,ts_recv,ts_event,rtype,publisher_id,instrument_id,action,side,price,size,channel_id,order_id,flags,ts_in_delta,sequence,symbol
219128,2024-01-05 14:37:33.797028077+00:00,2024-01-05 14:37:33.796861795+00:00,160,2,11667,A,A,486.33,100,0,48824947,130,166282,44454334,NVDA
219129,2024-01-05 14:37:33.843151345+00:00,2024-01-05 14:37:33.842984915+00:00,160,2,11667,C,B,485.48,25,0,48796979,130,166430,44455569,NVDA
219130,2024-01-05 14:37:33.843153772+00:00,2024-01-05 14:37:33.842987637+00:00,160,2,11667,A,B,485.59,25,0,48826127,130,166135,44455570,NVDA
219131,2024-01-05 14:37:33.866281659+00:00,2024-01-05 14:37:33.866115203+00:00,160,2,11667,A,A,485.95,3,0,48826579,130,166456,44455917,NVDA
219132,2024-01-05 14:37:33.900320009+00:00,2024-01-05 14:37:33.900153604+00:00,160,2,11667,A,A,485.96,25,0,48828083,130,166405,44456813,NVDA
219133,2024-01-05 14:37:33.939642307+00:00,2024-01-05 14:37:33.939470463+00:00,160,2,11667,C,B,485.59,25,0,48826127,0,171844,44459106,NVDA
219134,2024-01-05 14:37:33.939642307+00:00,2024-01-05 14:37:33.939471046+00:00,160,2,11667,A,A,485.94,25,0,48831495,128,171261,44459107,NVDA
219135,2024-01-05 14:37:34.084778199+00:00,2024-01-05 14:37:34.084612230+00:00,160,2,11667,A,B,472.00,20,0,48838395,130,165969,44465026,NVDA
219136,2024-01-05 14:37:34.123896147+00:00,2024-01-05 14:37:34.123730513+00:00,160,2,11667,C,B,485.57,25,0,48815935,130,165634,44465550,NVDA
219137,2024-01-05 14:37:34.133602923+00:00,2024-01-05 14:37:34.133436328+00:00,160,2,11667,C,B,450.96,50,0,9121543,130,166595,44465869,NVDA
219138,2024-01-05 14:37:34.208544598+00:00,2024-01-05 14:37:34.208378142+00:00,160,2,11667,C,B,485.71,1,0,48815651,0,166456,44468887,NVDA
219139,2024-01-05 14:37:34.208544598+00:00,2024-01-05 14:37:34.208378142+00:00,160,2,11667,A,B,485.66,1,0,48843423,130,166456,44468887,NVDA
219140,2024-01-05 14:37:34.375143992+00:00,2024-01-05 14:37:34.374977880+00:00,160,2,11667,A,A,501.00,250,0,48859779,130,166112,44485908,NVDA
219141,2024-01-05 14:37:34.538201301+00:00,2024-01-05 14:37:34.538034956+00:00,160,2,11667,C,B,485.37,100,0,48815339,128,166345,44494379,NVDA
219142,2024-01-05 14:37:34.543487599+00:00,2024-01-05 14:37:34.543321238+00:00,160,2,11667,C,B,485.54,25,0,48815887,130,166361,44494648,NVDA
219143,2024-01-05 14:37:34.544848753+00:00,2024-01-05 14:37:34.544682588+00:00,160,2,11667,A,B,485.37,100,0,48868783,130,166165,44494828,NVDA
219144,2024-01-05 14:37:34.555746967+00:00,2024-01-05 14:37:34.555581238+00:00,160,2,11667,C,B,485.37,100,0,48868783,130,165729,44496318,NVDA
219145,2024-01-05 14:37:34.562547547+00:00,2024-01-05 14:37:34.562381054+00:00,160,2,11667,A,A,486.31,100,0,48870735,130,166493,44496601,NVDA
219146,2024-01-05 14:37:34.607123943+00:00,2024-01-05 14:37:34.606957519+00:00,160,2,11667,C,B,485.66,1,0,48843423,0,166424,44497956,NVDA
219147,2024-01-05 14:37:34.607123943+00:00,2024-01-05 14:37:34.606957519+00:00,160,2,11667,A,B,485.61,1,0,48872443,130,166424,44497956,NVDA
219148,2024-01-05 14:37:34.634424768+00:00,2024-01-05 14:37:34.634256897+00:00,160,2,11667,C,B,485.52,25,0,48801979,128,167871,44498818,NVDA
219149,2024-01-05 14:37:34.638138964+00:00,2024-01-05 14:37:34.637972629+00:00,160,2,11667,C,B,483.11,1045,0,28407271,130,166335,44500477,NVDA
219150,2024-01-05 14:37:34.653044923+00:00,2024-01-05 14:37:34.652879352+00:00,160,2,11667,C,A,486.31,100,0,48870735,130,165571,44502195,NVDA
219151,2024-01-05 14:37:34.663978693+00:00,2024-01-05 14:37:34.663812574+00:00,160,2,11667,A,B,485.37,100,0,48876487,130,166119,44502583,NVDA
219152,2024-01-05 14:37:34.667153809+00:00,2024-01-05 14:37:34.666987694+00:00,160,2,11667,A,A,485.95,100,0,48876587,130,166115,44502667,NVDA
219153,2024-01-05 14:37:34.667183308+00:00,2024-01-05 14:37:34.667017253+00:00,160,2,11667,C,B,485.37,100,0,48876487,130,166055,44502669,NVDA
219154,2024-01-05 14:37:34.693139514+00:00,2024-01-05 14:37:34.692973260+00:00,160,2,11667,A,A,486.15,2,0,48877403,130,166254,44503212,NVDA
219155,2024-01-05 14:37:34.711502414+00:00,2024-01-05 14:37:34.711336599+00:00,160,2,11667,A,A,487.88,1,0,48878135,130,165815,44503837,NVDA
219156,2024-01-05 14:37:34.711925616+00:00,2024-01-05 14:37:34.711759585+00:00,160,2,11667,A,B,485.37,100,0,48878155,130,166031,44503863,NVDA
219157,2024-01-05 14:37:34.719887328+00:00,2024-01-05 14:37:34.719721406+00:00,160,2,11667,A,B,485.52,25,0,48878363,130,165922,44504069,NVDA
219158,2024-01-05 14:37:34.772724155+00:00,2024-01-05 14:37:34.772557331+00:00,160,2,11667,A,B,485.54,25,0,48879887,130,166824,44505737,NVDA
219159,2024-01-05 14:37:34.907334146+00:00,2024-01-05 14:37:34.907166242+00:00,160,2,11667,C,B,485.37,100,0,48878155,130,167904,44509985,NVDA
219160,2024-01-05 14:37:34.970315204+00:00,2024-01-05 14:37:34.970148679+00:00,160,2,11667,A,B,485.37,100,0,48885775,130,166525,44511174,NVDA
219161,2024-01-05 14:37:35.013704145+00:00,2024-01-05 14:37:35.013537074+00:00,160,2,11667,C,B,485.37,100,0,48885775,128,167071,44512177,NVDA
219162,2024-01-05 14:37:35.018507368+00:00,2024-01-05 14:37:35.018341156+00:00,160,2,11667,A,A,486.31,100,0,48886935,130,166212,44512319,NVDA
219163,2024-01-05 14:37:35.148813663+00:00,2024-01-05 14:37:35.148647470+00:00,160,2,11667,A,A,486.01,70,0,48891063,130,166193,44515654,NVDA
219164,2024-01-05 14:37:35.148923221+00:00,2024-01-05 14:37:35.148757064+00:00,160,2,11667,C,A,493.24,100,0,48815955,0,166157,44515674,NVDA
219165,2024-01-05 14:37:35.148923221+00:00,2024-01-05 14:37:35.148757064+00:00,160,2,11667,A,A,493.22,100,0,48891079,130,166157,44515674,NVDA
219166,2024-01-05 14:37:35.152053214+00:00,2024-01-05 14:37:35.151886844+00:00,160,2,11667,C,A,493.22,100,0,48891079,0,166370,44515715,NVDA
219167,2024-01-05 14:37:35.152053214+00:00,2024-01-05 14:37:35.151886844+00:00,160,2,11667,A,A,493.24,100,0,48891123,130,166370,44515715,NVDA
219168,2024-01-05 14:37:35.152135094+00:00,2024-01-05 14:37:35.151968929+00:00,160,2,11667,C,A,493.24,100,0,48891123,0,166165,44515717,NVDA
219169,2024-01-05 14:37:35.152135094+00:00,2024-01-05 14:37:35.151968929+00:00,160,2,11667,A,A,493.22,100,0,48891131,130,166165,44515717,NVDA
219170,2024-01-05 14:37:35.155350028+00:00,2024-01-05 14:37:35.155184210+00:00,160,2,11667,C,A,485.95,3,0,48826579,130,165818,44515768,NVDA
219171,2024-01-05 14:37:35.155389252+00:00,2024-01-05 14:37:35.155222696+00:00,160,2,11667,A,A,485.93,3,0,48891235,130,166556,44515769,NVDA
219172,2024-01-05 14:37:35.155433620+00:00,2024-01-05 14:37:35.155267135+00:00,160,2,11667,A,A,485.92,25,0,48891239,130,166485,44515771,NVDA
219173,2024-01-05 14:37:35.156570171+00:00,2024-01-05 14:37:35.156403970+00:00,160,2,11667,C,A,493.22,100,0,48891131,0,166201,44515796,NVDA
219174,2024-01-05 14:37:35.156570171+00:00,2024-01-05 14:37:35.156403970+00:00,160,2,11667,A,A,493.24,100,0,48891283,130,166201,44515796,NVDA
219175,2024-01-05 14:37:35.163356834+00:00,2024-01-05 14:37:35.163190989+00:00,160,2,11667,C,A,486.01,70,0,48891063,130,165845,44515882,NVDA
219176,2024-01-05 14:37:35.163381524+00:00,2024-01-05 14:37:35.163215503+00:00,160,2,11667,A,B,485.37,100,0,48891419,130,166021,44515884,NVDA
219177,2024-01-05 14:37:35.198193346+00:00,2024-01-05 14:37:35.198026733+00:00,160,2,11667,C,A,486.31,100,0,48886935,130,166613,44516519,NVDA
219178,2024-01-05 14:37:35.234993056+00:00,2024-01-05 14:37:35.234826397+00:00,160,2,11667,A,A,486.31,100,0,48893487,130,166659,44517716,NVDA
219179,2024-01-05 14:37:35.237587762+00:00,2024-01-05 14:37:35.237422275+00:00,160,2,11667,C,A,486.31,100,0,48893487,130,165487,44517834,NVDA
219180,2024-01-05 14:37:35.275238322+00:00,2024-01-05 14:37:35.275066649+00:00,160,2,11667,C,A,485.92,25,0,48891239,128,171673,44519026,NVDA
219181,2024-01-05 14:37:35.275629664+00:00,2024-01-05 14:37:35.275462149+00:00,160,2,11667,C,A,485.94,25,0,48831495,128,167515,44519273,NVDA
219182,2024-01-05 14:37:35.275711164+00:00,2024-01-05 14:37:35.275542668+00:00,160,2,11667,T,N,485.89,75,0,0,128,168496,44519302,NVDA
219183,2024-01-05 14:37:35.275714100+00:00,2024-01-05 14:37:35.275545353+00:00,160,2,11667,T,N,485.89,75,0,0,130,168747,44519305,NVDA
219184,2024-01-05 14:37:35.275895021+00:00,2024-01-05 14:37:35.275726982+00:00,160,2,11667,A,B,485.80,2,0,48895123,128,168039,44519353,NVDA
219185,2024-01-05 14:37:35.275989318+00:00,2024-01-05 14:37:35.275822122+00:00,160,2,11667,A,B,485.70,1,0,48895183,130,167196,44519392,NVDA
219186,2024-01-05 14:37:35.276338277+00:00,2024-01-05 14:37:35.276167891+00:00,160,2,11667,C,A,486.15,2,0,48877403,128,170386,44519535,NVDA
219187,2024-01-05 14:37:35.276544211+00:00,2024-01-05 14:37:35.276375518+00:00,160,2,11667,A,B,485.56,25,0,48895467,128,168693,44519622,NVDA
219188,2024-01-05 14:37:35.281701573+00:00,2024-01-05 14:37:35.281535724+00:00,160,2,11667,C,B,485.80,2,0,48895123,130,165849,44520159,NVDA
219189,2024-01-05 14:37:35.302155716+00:00,2024-01-05 14:37:35.301989116+00:00,160,2,11667,A,B,485.70,100,0,48896723,130,166600,44520804,NVDA
219190,2024-01-05 14:37:35.338579295+00:00,2024-01-05 14:37:35.338413028+00:00,160,2,11667,C,B,477.00,100,0,14358267,130,166267,44522101,NVDA
219191,2024-01-05 14:37:35.339051390+00:00,2024-01-05 14:37:35.338885067+00:00,160,2,11667,C,B,479.00,100,0,14450787,130,166323,44522110,NVDA
219192,2024-01-05 14:37:35.339408705+00:00,2024-01-05 14:37:35.339242268+00:00,160,2,11667,C,B,478.00,100,0,14404635,130,166437,44522143,NVDA
219193,2024-01-05 14:37:35.360348303+00:00,2024-01-05 14:37:35.360181128+00:00,160,2,11667,T,N,485.89,3,0,0,130,167175,44522720,NVDA
219194,2024-01-05 14:37:35.360378522+00:00,2024-01-05 14:37:35.360210375+00:00,160,2,11667,T,N,485.89,47,0,0,130,168147,44522723,NVDA
219195,2024-01-05 14:37:35.361164072+00:00,2024-01-05 14:37:35.360998210+00:00,160,2,11667,C,B,485.70,100,0,48896723,130,165862,44522770,NVDA
219196,2024-01-05 14:37:35.363377805+00:00,2024-01-05 14:37:35.363211732+00:00,160,2,11667,C,A,485.96,25,0,48828083,130,166073,44522946,NVDA
219197,2024-01-05 14:37:35.369540999+00:00,2024-01-05 14:37:35.369374441+00:00,160,2,11667,A,B,485.59,25,0,48898939,130,166558,44523118,NVDA
219198,2024-01-05 14:37:35.369587167+00:00,2024-01-05 14:37:35.369420460+00:00,160,2,11667,A,B,485.43,100,0,48898951,128,166707,44523126,NVDA
219199,2024-01-05 14:37:35.384131024+00:00,2024-01-05 14:37:35.383965019+00:00,160,2,11667,C,B,485.43,100,0,48898951,130,166005,44523502,NVDA
219200,2024-01-05 14:37:35.490834559+00:00,2024-01-05 14:37:35.490667661+00:00,160,2,11667,A,A,485.96,25,0,48903663,128,166898,44527265,NVDA
219201,2024-01-05 14:37:35.491137793+00:00,2024-01-05 14:37:35.490969518+00:00,160,2,11667,C,B,485.59,25,0,48898939,0,168275,44527424,NVDA
219202,2024-01-05 14:37:35.491137793+00:00,2024-01-05 14:37:35.490970318+00:00,160,2,11667,A,A,485.94,25,0,48903807,130,167475,44527425,NVDA
219203,2024-01-05 14:37:35.493211570+00:00,2024-01-05 14:37:35.493045635+00:00,160,2,11667,C,A,485.94,25,0,48903807,130,165935,44528183,NVDA
219204,2024-01-05 14:37:35.493717614+00:00,2024-01-05 14:37:35.493551231+00:00,160,2,11667,C,A,485.96,25,0,48903663,130,166383,44528331,NVDA
219205,2024-01-05 14:37:35.493840892+00:00,2024-01-05 14:37:35.493671992+00:00,160,2,11667,A,B,485.58,25,0,48905023,128,168900,44528361,NVDA
219206,2024-01-05 14:37:35.495794435+00:00,2024-01-05 14:37:35.495628053+00:00,160,2,11667,C,A,485.98,25,0,48816015,130,166382,44528594,NVDA
219207,2024-01-05 14:37:35.544248258+00:00,2024-01-05 14:37:35.544082163+00:00,160,2,11667,A,B,485.80,5,0,48906683,130,166095,44529703,NVDA
219208,2024-01-05 14:37:35.593201231+00:00,2024-01-05 14:37:35.593033505+00:00,160,2,11667,A,B,485.60,25,0,48910071,0,167726,44532251,NVDA

In [24]:
!ls -alh

total 521M
drwxr-xr-x  2 ecb ecb 4.0K Jun 25 13:49 .
drwxr-xr-x 15 ecb ecb 4.0K Jun 24 17:31 ..
-rw-r--r--  1 ecb ecb 275K Jun 25 10:21 explore.ipynb
-rw-r--r--  1 ecb ecb  17K Jun 25 13:50 extract_order_book_input.ipynb
-rw-r--r--  1 ecb ecb 123K Jun 24 18:09 order_id_838222951.csv
-rwxr-xr-x  1 ecb ecb 1.3K Jun 24 17:28 read_mbo_data.py
-rw-r--r--  1 ecb ecb 508M Jun 25 13:50 xnas-itch-20240105.mbo.dbn.orders.csv
-rw-r--r--  1 ecb ecb  13M Jun 25 13:25 xnas-itch-20240105.mbo.dbn.trades.csv